[data-theme="dark"] {
    --alert-close-color: rgba(255, 255, 255, 0.45);
    --alert-close-hover-color: rgba(255, 255, 255, 0.75);
    --alert-error-bg-color: #2a1215;
    --alert-error-border-color: #58181c;
    --alert-error-icon-color: #a61d24;
    --alert-info-bg-color: #111b26;
    --alert-info-border-color: #153450;
    --alert-info-icon-color: #177ddc;
    --alert-message-color: rgba(255, 255, 255, 0.85);
    --alert-success-bg-color: #162312;
    --alert-success-border-color: #274916;
    --alert-success-icon-color: #49aa19;
    --alert-text-color: rgba(255, 255, 255, 0.85);
    --alert-warning-bg-color: #2b2111;
    --alert-warning-border-color: #594214;
    --alert-warning-icon-color: #d89614;
    --anchor-bg: transparent;
    --anchor-border-color: #303030;
    --avatar-bg: rgba(255, 255, 255, 0.3);
    --avatar-color: #fff;
    --avatar-group-border-color: #fff;
    --back-top-bg: rgba(255, 255, 255, 0.45);
    --back-top-color: #fff;
    --back-top-hover-bg: rgba(255, 255, 255, 0.85);
    --background-color-base: rgba(255, 255, 255, 0.08);
    --background-color-light: rgba(255, 255, 255, 0.04);
    --badge-color: #a61d24;
    --badge-text-color: #fff;
    --black: #000;
    --border-color-base: #434343;
    --border-color-inverse: #fff;
    --border-color-split: #303030;
    --breadcrumb-base-color: rgba(255, 255, 255, 0.45);
    --breadcrumb-last-item-color: rgba(255, 255, 255, 0.85);
    --breadcrumb-link-color-hover: rgba(255, 255, 255, 0.85);
    --breadcrumb-link-color: rgba(255, 255, 255, 0.45);
    --breadcrumb-separator-color: rgba(255, 255, 255, 0.45);
    --btn-danger-bg: #a61d24;
    --btn-danger-border: #a61d24;
    --btn-danger-color: #fff;
    --btn-default-bg: transparent;
    --btn-default-border: #434343;
    --btn-default-color: rgba(255, 255, 255, 0.85);
    --btn-default-ghost-bg: transparent;
    --btn-default-ghost-border: rgba(255, 255, 255, 0.25);
    --btn-default-ghost-color: rgba(255, 255, 255, 0.85);
    --btn-disable-bg: rgba(255, 255, 255, 0.08);
    --btn-disable-border: #434343;
    --btn-disable-color: rgba(255, 255, 255, 0.3);
    --btn-group-border: #165996;
    --btn-link-hover-bg: transparent;
    --btn-primary-bg: #177ddc;
    --btn-primary-color: #fff;
    --btn-text-hover-bg: rgba(255, 255, 255, 0.03);
    --calendar-bg: #1f1f1f;
    --calendar-border-color: transparent;
    --calendar-column-active-bg: rgba(17, 27, 38, 0.2);
    --calendar-full-bg: #141414;
    --calendar-full-panel-bg: #141414;
    --calendar-input-bg: #1f1f1f;
    --calendar-item-active-bg: #111b26;
    --card-actions-background: #141414;
    --card-background: #141414;
    --card-head-background: transparent;
    --card-head-color: rgba(255, 255, 255, 0.85);
    --card-head-extra-color: rgba(255, 255, 255, 0.85);
    --card-skeleton-bg: #303030;
    --cascader-bg: transparent;
    --cascader-item-selected-bg: #111b26;
    --cascader-menu-bg: #1f1f1f;
    --cascader-menu-border-color-split: #303030;
    --checkbox-check-bg: transparent;
    --checkbox-check-color: #fff;
    --checkbox-color: #177ddc;
    --collapse-content-bg: #141414;
    --collapse-header-bg: rgba(255, 255, 255, 0.04);
    --comment-action-color: rgba(255, 255, 255, 0.45);
    --comment-action-hover-color: rgba(255, 255, 255, 0.65);
    --comment-actions-margin-bottom: inherit;
    --comment-author-name-color: rgba(255, 255, 255, 0.45);
    --comment-author-time-color: rgba(255, 255, 255, 0.3);
    --comment-bg: transparent;
    --comment-content-detail-p-margin-bottom: inherit;
    --component-background: #141414;
    --descriptions-bg: rgba(255, 255, 255, 0.04);
    --descriptions-extra-color: rgba(255, 255, 255, 0.85);
    --disabled-active-bg: #e6e6e6;
    --disabled-bg: rgba(255, 255, 255, 0.08);
    --disabled-color-dark: rgba(255, 255, 255, 0.3);
    --disabled-color: rgba(255, 255, 255, 0.3);
    --divider-color: rgba(255, 255, 255, 0.12);
    --drawer-bg: #1f1f1f;
    --dropdown-menu-bg: #1f1f1f;
    --dropdown-menu-submenu-disabled-bg: transparent;
    --dropdown-selected-color: #177ddc;
    --error-color-active: #800f19;
    --error-color-deprecated-bg: #2a1215;
    --error-color-deprecated-border: #58181c;
    --error-color-hover: #b33b3d;
    --error-color-outline: rgba(166, 29, 36, 0.2);
    --error-color: #a61d24;
    --form-error-input-bg: transparent;
    --form-warning-input-bg: transparent;
    --heading-color: rgba(255, 255, 255, 0.85);
    --highlight-color: #a61d24;
    --icon-color-hover: rgba(255, 255, 255, 0.75);
    --icon-color: inherit;
    --image-bg: #f5f5f5;
    --image-color: #fff;
    --image-preview-operation-color: rgba(255, 255, 255, 0.85);
    --image-preview-operation-disabled-color: rgba(255, 255, 255, 0.25);
    --info-color-deprecated-bg: #111b26;
    --info-color-deprecated-border: #153450;
    --info-color: #177ddc;
    --input-addon-bg: rgba(255, 255, 255, 0.04);
    --input-bg: transparent;
    --input-border-color: #434343;
    --input-color: rgba(255, 255, 255, 0.85);
    --input-disabled-bg: rgba(255, 255, 255, 0.08);
    --input-disabled-color: rgba(255, 255, 255, 0.3);
    --input-hover-border-color: #165996;
    --input-icon-color: rgba(255, 255, 255, 0.3);
    --input-icon-hover-color: rgba(255, 255, 255, 0.85);
    --input-number-handler-active-bg: rgba(255, 255, 255, 0.08);
    --input-number-handler-bg: #141414;
    --input-number-handler-border-color: #434343;
    --input-number-handler-hover-bg: #165996;
    --input-number-hover-border-color: #165996;
    --input-placeholder-color: rgba(255, 255, 255, 0.3);
    --item-active-bg: #111b26;
    --item-hover-bg: rgba(255, 255, 255, 0.08);
    --label-color: rgba(255, 255, 255, 0.85);
    --label-required-color: #a61d24;
    --layout-body-background: #000;
    --layout-footer-background: #000;
    --layout-header-background: #1f1f1f;
    --layout-header-color: rgba(255, 255, 255, 0.85);
    --layout-sider-background-light: #fff;
    --layout-sider-background: #1f1f1f;
    --layout-trigger-background-light: #fff;
    --layout-trigger-background: #262626;
    --layout-trigger-color-light: rgba(255, 255, 255, 0.85);
    --layout-trigger-color: #fff;
    --link-active-color: #388ed3;
    --link-color: #177ddc;
    --link-hover-color: #165996;
    --list-customize-card-bg: transparent;
    --list-footer-background: transparent;
    --list-header-background: transparent;
    --mentions-dropdown-bg: #1f1f1f;
    --mentions-dropdown-menu-item-hover-bg: #1f1f1f;
    --menu-bg: #141414;
    --menu-dark-arrow-color: #fff;
    --menu-dark-bg: #1f1f1f;
    --menu-dark-color: rgba(255, 255, 255, 0.65);
    --menu-dark-danger-color: #a61d24;
    --menu-dark-highlight-color: #fff;
    --menu-dark-inline-submenu-bg: #141414;
    --menu-dark-item-active-bg: #177ddc;
    --menu-dark-item-active-danger-bg: #a61d24;
    --menu-dark-item-hover-bg: transparent;
    --menu-dark-selected-item-icon-color: #fff;
    --menu-dark-selected-item-text-color: #fff;
    --menu-highlight-color: #177ddc;
    --menu-highlight-danger-color: #a61d24;
    --menu-inline-submenu-bg: rgba(255, 255, 255, 0.04);
    --menu-item-active-bg: #111b26;
    --menu-item-active-danger-bg: #2a1215;
    --menu-item-color: rgba(255, 255, 255, 0.85);
    --menu-item-group-title-color: rgba(255, 255, 255, 0.45);
    --menu-popup-bg: #1f1f1f;
    --message-notice-content-bg: #1f1f1f;
    --modal-close-color: rgba(255, 255, 255, 0.45);
    --modal-content-bg: #1f1f1f;
    --modal-footer-bg: transparent;
    --modal-footer-border-color-split: #303030;
    --modal-header-bg: #1f1f1f;
    --modal-header-border-color-split: #303030;
    --modal-heading-color: rgba(255, 255, 255, 0.85);
    --modal-mask-bg: rgba(0, 0, 0, 0.45);
    --normal-color: #d9d9d9;
    --notification-bg: #1f1f1f;
    --outline-color: #177ddc;
    --page-header-back-color: inherit;
    --page-header-ghost-bg: transparent;
    --pagination-item-bg-active: transparent;
    --pagination-item-bg: transparent;
    --pagination-item-disabled-bg-active: rgba(255, 255, 255, 0.25);
    --pagination-item-disabled-color-active: #000;
    --pagination-item-input-bg: transparent;
    --pagination-item-link-bg: transparent;
    --picker-basic-cell-active-with-range-color: #111b26;
    --picker-basic-cell-disabled-bg: #303030;
    --picker-basic-cell-hover-color: rgba(255, 255, 255, 0.08);
    --picker-basic-cell-hover-with-range-color: #06213a;
    --picker-bg: transparent;
    --picker-border-color: #303030;
    --picker-date-hover-range-border-color: #0e4980;
    --picker-date-hover-range-color: #06213a;
    --popover-arrow-color: #1f1f1f;
    --popover-arrow-outer-color: #1f1f1f;
    --popover-background: #1f1f1f;
    --popover-bg: #1f1f1f;
    --popover-color: rgba(255, 255, 255, 0.85);
    --popover-customize-border-color: #3a3a3a;
    --primary-1: #111b26;
    --primary-10: #bae4fa;
    --primary-2: #11263c;
    --primary-3: #153450;
    --primary-4: #16436e;
    --primary-6: #177ddc;
    --primary-7: #388ed3;
    --primary-8: #63b2ea;
    --primary-9: #90d0f8;
    --primary-color-active: #095cb5;
    --primary-color-hover: #3c9be8;
    --primary-color-outline: rgba(23, 125, 220, 0.2);
    --primary-color: #177ddc;
    --process-tail-color: #303030;
    --processing-color: #177ddc;
    --progress-default-color: #177ddc;
    --progress-info-text-color: rgba(255, 255, 255, 0.85);
    --progress-remaining-color: rgba(255, 255, 255, 0.08);
    --progress-steps-item-bg: rgba(255, 255, 255, 0.08);
    --progress-text-color: rgba(255, 255, 255, 0.85);
    --radio-button-active-color: #388ed3;
    --radio-button-bg: transparent;
    --radio-button-checked-bg: transparent;
    --radio-button-color: rgba(255, 255, 255, 0.85);
    --radio-button-hover-color: #165996;
    --radio-disabled-button-checked-bg: rgba(255, 255, 255, 0.2);
    --radio-disabled-button-checked-color: rgba(255, 255, 255, 0.3);
    --radio-dot-color: #177ddc;
    --radio-dot-disabled-color: rgba(255, 255, 255, 0.2);
    --radio-solid-checked-color: #fff;
    --rate-star-bg: rgba(255, 255, 255, 0.12);
    --rate-star-color: #d8bd14;
    --select-background: transparent;
    --select-border-color: #434343;
    --select-clear-background: #141414;
    --select-dropdown-bg: #1f1f1f;
    --select-item-active-bg: rgba(255, 255, 255, 0.08);
    --select-item-selected-bg: #111b26;
    --select-item-selected-color: rgba(255, 255, 255, 0.85);
    --select-multiple-disabled-background: #141414;
    --select-multiple-item-disabled-border-color: #1f1f1f;
    --select-multiple-item-disabled-color: #595959;
    --select-selection-item-bg: rgba(255, 255, 255, 0.08);
    --select-selection-item-border-color: #303030;
    --shadow-color-inverse: #141414;
    --shadow-color: rgba(0, 0, 0, 0.45);
    --skeleton-color: rgba(190, 190, 190, 0.2);
    --skeleton-to-color: rgba(255, 255, 255, 0.16);
    --slider-disabled-background-color: #141414;
    --slider-disabled-color: rgba(255, 255, 255, 0.3);
    --slider-dot-border-color-active: #16436e;
    --slider-dot-border-color: #303030;
    --slider-handle-background-color: #141414;
    --slider-handle-color-focus-shadow: rgba(23, 125, 220, 0.12);
    --slider-handle-color-focus: #4697e3;
    --slider-handle-color-hover: #16436e;
    --slider-handle-color-tooltip-open: #177ddc;
    --slider-handle-color: #153450;
    --slider-rail-background-color-hover: #434343;
    --slider-rail-background-color: #262626;
    --slider-track-background-color-hover: #16436e;
    --slider-track-background-color: #153450;
    --steps-background: transparent;
    --steps-nav-arrow-color: rgba(255, 255, 255, 0.2);
    --success-color-active: #31850d;
    --success-color-deprecated-bg: #162312;
    --success-color-deprecated-border: #274916;
    --success-color-hover: #67b839;
    --success-color-outline: rgba(73, 170, 25, 0.2);
    --success-color: #49aa19;
    --switch-bg: #fff;
    --switch-color: #177ddc;
    --switch-shadow-color: rgba(0, 35, 11, 0.2);
    --table-bg: #141414;
    --table-body-selected-sort-bg: #111b26;
    --table-body-sort-bg: rgba(255, 255, 255, 0.01);
    --table-border-color: #303030;
    --table-expand-icon-bg: transparent;
    --table-expanded-row-bg: #1d1d1d;
    --table-filter-btns-bg: #1f1f1f;
    --table-filter-dropdown-bg: #1f1f1f;
    --table-fixed-header-sort-active-bg: #222;
    --table-footer-bg: rgba(255, 255, 255, 0.04);
    --table-footer-color: rgba(255, 255, 255, 0.85);
    --table-header-bg-sm: #1d1d1d;
    --table-header-bg: #1d1d1d;
    --table-header-cell-split-color: rgba(255, 255, 255, 0.08);
    --table-header-color: rgba(255, 255, 255, 0.85);
    --table-header-filter-active-bg: #434343;
    --table-header-sort-active-bg: #303030;
    --table-header-sort-bg: #262626;
    --table-row-hover-bg: #262626;
    --table-selected-row-bg: #111b26;
    --table-selected-row-color: inherit;
    --table-selected-row-hover-bg: #0e161f;
    --table-sticky-scroll-bar-bg: rgba(0, 0, 0, 0.35);
    --tabs-active-color: #388ed3;
    --tabs-card-active-color: #177ddc;
    --tabs-card-head-background: rgba(255, 255, 255, 0.04);
    --tabs-highlight-color: #177ddc;
    --tabs-hover-color: #165996;
    --tabs-ink-bar-color: #177ddc;
    --tag-default-bg: rgba(255, 255, 255, 0.04);
    --tag-default-color: rgba(255, 255, 255, 0.85);
    --text-color-dark: rgba(255, 255, 255, 0.85);
    --text-color-inverse: #fff;
    --text-color-secondary-dark: rgba(255, 255, 255, 0.65);
    --text-color-secondary: rgba(255, 255, 255, 0.45);
    --text-color: rgba(255, 255, 255, 0.85);
    --text-selection-bg: #177ddc;
    --timeline-color: #303030;
    --timeline-dot-bg: #141414;
    --timeline-dot-color: #177ddc;
    --tooltip-arrow-color: #434343;
    --tooltip-bg: #434343;
    --tooltip-color: #fff;
    --transfer-disabled-bg: rgba(255, 255, 255, 0.08);
    --transfer-item-hover-bg: #262626;
    --transfer-item-selected-hover-bg: #0e161f;
    --tree-bg: transparent;
    --tree-directory-selected-bg: #177ddc;
    --tree-directory-selected-color: #fff;
    --tree-node-hover-bg: rgba(255, 255, 255, 0.08);
    --tree-node-selected-bg: #11263c;
    --upload-actions-color: rgba(255, 255, 255, 0.45);
    --warning-color-active: #b37407;
    --warning-color-deprecated-bg: #2b1d11;
    --warning-color-deprecated-border: #593815;
    --warning-color-hover: #e6b239;
    --warning-color-outline: rgba(216, 150, 20, 0.2);
    --warning-color: #d89614;
    --white: #fff;
}
