:root {
    --alert-close-color: rgba(0, 0, 0, 0.45);
    --alert-close-hover-color: rgba(0, 0, 0, 0.75);
    --alert-error-bg-color: #fff2f0;
    --alert-error-border-color: #ffccc7;
    --alert-error-icon-color: #ff4d4f;
    --alert-info-bg-color: #e6f7ff;
    --alert-info-border-color: #91d5ff;
    --alert-info-icon-color: #1890ff;
    --alert-message-color: rgba(0, 0, 0, 0.85);
    --alert-success-bg-color: #f6ffed;
    --alert-success-border-color: #b7eb8f;
    --alert-success-icon-color: #52c41a;
    --alert-text-color: rgba(0, 0, 0, 0.85);
    --alert-warning-bg-color: #fffbe6;
    --alert-warning-border-color: #ffe58f;
    --alert-warning-icon-color: #faad14;
    --anchor-bg: transparent;
    --anchor-border-color: #f0f0f0;
    --avatar-bg: #ccc;
    --avatar-color: #fff;
    --avatar-group-border-color: #fff;
    --back-top-bg: rgba(0, 0, 0, 0.45);
    --back-top-color: #fff;
    --back-top-hover-bg: rgba(0, 0, 0, 0.85);
    --background-color-base: #f5f5f5;
    --background-color-light: #fafafa;
    --badge-color: #ff4d4f;
    --badge-text-color: #fff;
    --black: #000;
    --border-color-base: #d9d9d9;
    --border-color-inverse: #fff;
    --border-color-split: #f0f0f0;
    --breadcrumb-base-color: rgba(0, 0, 0, 0.45);
    --breadcrumb-last-item-color: rgba(0, 0, 0, 0.85);
    --breadcrumb-link-color-hover: rgba(0, 0, 0, 0.85);
    --breadcrumb-link-color: rgba(0, 0, 0, 0.45);
    --breadcrumb-separator-color: rgba(0, 0, 0, 0.45);
    --btn-danger-bg: #ff4d4f;
    --btn-danger-border: #ff4d4f;
    --btn-danger-color: #fff;
    --btn-default-bg: #fff;
    --btn-default-border: #d9d9d9;
    --btn-default-color: rgba(0, 0, 0, 0.85);
    --btn-default-ghost-bg: transparent;
    --btn-default-ghost-border: #fff;
    --btn-default-ghost-color: #fff;
    --btn-disable-bg: #f5f5f5;
    --btn-disable-border: #d9d9d9;
    --btn-disable-color: rgba(0, 0, 0, 0.25);
    --btn-group-border: #40a9ff;
    --btn-link-hover-bg: transparent;
    --btn-primary-bg: #1890ff;
    --btn-primary-color: #fff;
    --btn-text-hover-bg: rgba(0, 0, 0, 0.018);
    --calendar-bg: #fff;
    --calendar-border-color: #fff;
    --calendar-column-active-bg: rgba(230, 247, 255, 0.2);
    --calendar-full-bg: #fff;
    --calendar-full-panel-bg: #fff;
    --calendar-input-bg: #fff;
    --calendar-item-active-bg: #e6f7ff;
    --card-actions-background: #fff;
    --card-background: #fff;
    --card-head-background: transparent;
    --card-head-color: rgba(0, 0, 0, 0.85);
    --card-head-extra-color: rgba(0, 0, 0, 0.85);
    --card-skeleton-bg: #cfd8dc;
    --cascader-bg: #fff;
    --cascader-item-selected-bg: #e6f7ff;
    --cascader-menu-bg: #fff;
    --cascader-menu-border-color-split: #f0f0f0;
    --checkbox-check-bg: #fff;
    --checkbox-check-color: #fff;
    --checkbox-color: #1890ff;
    --collapse-content-bg: #fff;
    --collapse-header-bg: #fafafa;
    --comment-action-color: rgba(0, 0, 0, 0.45);
    --comment-action-hover-color: #595959;
    --comment-actions-margin-bottom: inherit;
    --comment-author-name-color: rgba(0, 0, 0, 0.45);
    --comment-author-time-color: #ccc;
    --comment-bg: inherit;
    --comment-content-detail-p-margin-bottom: inherit;
    --component-background: #fff;
    --descriptions-bg: #fafafa;
    --descriptions-extra-color: rgba(0, 0, 0, 0.85);
    --disabled-active-bg: #e6e6e6;
    --disabled-bg: #f5f5f5;
    --disabled-color-dark: rgba(255, 255, 255, 0.35);
    --disabled-color: rgba(0, 0, 0, 0.25);
    --divider-color: rgba(0, 0, 0, 0.06);
    --drawer-bg: #fff;
    --dropdown-menu-bg: #fff;
    --dropdown-menu-submenu-disabled-bg: #fff;
    --dropdown-selected-color: #1890ff;
    --error-color-active: #d9363e;
    --error-color-deprecated-bg: #fff2f0;
    --error-color-deprecated-border: #ffccc7;
    --error-color-hover: #ff7875;
    --error-color-outline: rgba(255, 77, 79, 0.2);
    --error-color: #ff4d4f;
    --form-error-input-bg: #fff;
    --form-warning-input-bg: #fff;
    --heading-color: rgba(0, 0, 0, 0.85);
    --highlight-color: #ff4d4f;
    --icon-color-hover: rgba(0, 0, 0, 0.75);
    --icon-color: inherit;
    --image-bg: #f5f5f5;
    --image-color: #fff;
    --image-preview-operation-color: rgba(255, 255, 255, 0.85);
    --image-preview-operation-disabled-color: rgba(255, 255, 255, 0.25);
    --info-color-deprecated-bg: #e6f7ff;
    --info-color-deprecated-border: #91d5ff;
    --info-color: #1890ff;
    --input-addon-bg: #fafafa;
    --input-bg: #fff;
    --input-border-color: #d9d9d9;
    --input-color: rgba(0, 0, 0, 0.85);
    --input-disabled-bg: #f5f5f5;
    --input-disabled-color: rgba(0, 0, 0, 0.25);
    --input-hover-border-color: #40a9ff;
    --input-icon-color: rgba(0, 0, 0, 0.85);
    --input-icon-hover-color: rgba(0, 0, 0, 0.85);
    --input-number-handler-active-bg: #f4f4f4;
    --input-number-handler-bg: #fff;
    --input-number-handler-border-color: #d9d9d9;
    --input-number-handler-hover-bg: #40a9ff;
    --input-number-hover-border-color: #40a9ff;
    --input-placeholder-color: #bfbfbf;
    --item-active-bg: #e6f7ff;
    --item-hover-bg: #f5f5f5;
    --label-color: rgba(0, 0, 0, 0.85);
    --label-required-color: #ff4d4f;
    --layout-body-background: #f0f2f5;
    --layout-footer-background: #f0f2f5;
    --layout-header-background: #001529;
    --layout-header-color: rgba(0, 0, 0, 0.85);
    --layout-sider-background-light: #fff;
    --layout-sider-background: #001529;
    --layout-trigger-background-light: #fff;
    --layout-trigger-background: #002140;
    --layout-trigger-color-light: rgba(0, 0, 0, 0.85);
    --layout-trigger-color: #fff;
    --link-active-color: #096dd9;
    --link-color: #1890ff;
    --link-hover-color: #40a9ff;
    --list-customize-card-bg: #fff;
    --list-footer-background: transparent;
    --list-header-background: transparent;
    --mentions-dropdown-bg: #fff;
    --mentions-dropdown-menu-item-hover-bg: #fff;
    --menu-bg: #fff;
    --menu-dark-arrow-color: #fff;
    --menu-dark-bg: #001529;
    --menu-dark-color: rgba(255, 255, 255, 0.65);
    --menu-dark-danger-color: #ff4d4f;
    --menu-dark-highlight-color: #fff;
    --menu-dark-inline-submenu-bg: #000c17;
    --menu-dark-item-active-bg: #1890ff;
    --menu-dark-item-active-danger-bg: #ff4d4f;
    --menu-dark-item-hover-bg: transparent;
    --menu-dark-selected-item-icon-color: #fff;
    --menu-dark-selected-item-text-color: #fff;
    --menu-highlight-color: #1890ff;
    --menu-highlight-danger-color: #ff4d4f;
    --menu-inline-submenu-bg: #fafafa;
    --menu-item-active-bg: #e6f7ff;
    --menu-item-active-danger-bg: #fff1f0;
    --menu-item-color: rgba(0, 0, 0, 0.85);
    --menu-item-group-title-color: rgba(0, 0, 0, 0.45);
    --menu-popup-bg: #fff;
    --message-notice-content-bg: #fff;
    --modal-close-color: rgba(0, 0, 0, 0.45);
    --modal-content-bg: #fff;
    --modal-footer-bg: transparent;
    --modal-footer-border-color-split: #f0f0f0;
    --modal-header-bg: #fff;
    --modal-header-border-color-split: #f0f0f0;
    --modal-heading-color: rgba(0, 0, 0, 0.85);
    --modal-mask-bg: rgba(0, 0, 0, 0.45);
    --normal-color: #d9d9d9;
    --notification-bg: #fff;
    --outline-color: #1890ff;
    --page-header-back-color: #000;
    --page-header-ghost-bg: inherit;
    --pagination-item-bg-active: #fff;
    --pagination-item-bg: #fff;
    --pagination-item-disabled-bg-active: #e6e6e6;
    --pagination-item-disabled-color-active: rgba(0, 0, 0, 0.25);
    --pagination-item-input-bg: #fff;
    --pagination-item-link-bg: #fff;
    --picker-basic-cell-active-with-range-color: #e6f7ff;
    --picker-basic-cell-disabled-bg: rgba(0, 0, 0, 0.04);
    --picker-basic-cell-hover-color: #f5f5f5;
    --picker-basic-cell-hover-with-range-color: #cbe6ff;
    --picker-bg: #fff;
    --picker-border-color: #f0f0f0;
    --picker-date-hover-range-border-color: #7ec1ff;
    --picker-date-hover-range-color: #cbe6ff;
    --popover-arrow-color: #fff;
    --popover-arrow-outer-color: #fff;
    --popover-background: #fff;
    --popover-bg: #fff;
    --popover-color: rgba(0, 0, 0, 0.85);
    --popover-customize-border-color: #f0f0f0;
    --primary-1: #e6f7ff;
    --primary-10: #002766;
    --primary-2: #bae7ff;
    --primary-3: #91d5ff;
    --primary-4: #69c0ff;
    --primary-6: #1890ff;
    --primary-7: #096dd9;
    --primary-8: #0050b3;
    --primary-9: #003a8c;
    --primary-color-active: #096dd9;
    --primary-color-hover: #40a9ff;
    --primary-color-outline: rgba(24, 144, 255, 0.2);
    --primary-color: #1890ff;
    --process-tail-color: #f0f0f0;
    --processing-color: #1890ff;
    --progress-default-color: #1890ff;
    --progress-info-text-color: rgba(0, 0, 0, 0.85);
    --progress-remaining-color: #f5f5f5;
    --progress-steps-item-bg: #f3f3f3;
    --progress-text-color: rgba(0, 0, 0, 0.85);
    --radio-button-active-color: #096dd9;
    --radio-button-bg: #fff;
    --radio-button-checked-bg: #fff;
    --radio-button-color: rgba(0, 0, 0, 0.85);
    --radio-button-hover-color: #40a9ff;
    --radio-disabled-button-checked-bg: #e6e6e6;
    --radio-disabled-button-checked-color: rgba(0, 0, 0, 0.25);
    --radio-dot-color: #1890ff;
    --radio-dot-disabled-color: rgba(0, 0, 0, 0.2);
    --radio-solid-checked-color: #fff;
    --rate-star-bg: #f0f0f0;
    --rate-star-color: #fadb14;
    --select-background: #fff;
    --select-border-color: #d9d9d9;
    --select-clear-background: #fff;
    --select-dropdown-bg: #fff;
    --select-item-active-bg: #f5f5f5;
    --select-item-selected-bg: #e6f7ff;
    --select-item-selected-color: rgba(0, 0, 0, 0.85);
    --select-multiple-disabled-background: #f5f5f5;
    --select-multiple-item-disabled-border-color: #d9d9d9;
    --select-multiple-item-disabled-color: #bfbfbf;
    --select-selection-item-bg: #f5f5f5;
    --select-selection-item-border-color: #f0f0f0;
    --shadow-color-inverse: #fff;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --skeleton-color: rgba(190, 190, 190, 0.2);
    --skeleton-to-color: rgba(129, 129, 129, 0.24);
    --slider-disabled-background-color: #fff;
    --slider-disabled-color: rgba(0, 0, 0, 0.25);
    --slider-dot-border-color-active: #8cc8ff;
    --slider-dot-border-color: #f0f0f0;
    --slider-handle-background-color: #fff;
    --slider-handle-color-focus-shadow: rgba(24, 144, 255, 0.12);
    --slider-handle-color-focus: #46a6ff;
    --slider-handle-color-hover: #69c0ff;
    --slider-handle-color-tooltip-open: #1890ff;
    --slider-handle-color: #91d5ff;
    --slider-rail-background-color-hover: #e1e1e1;
    --slider-rail-background-color: #f5f5f5;
    --slider-track-background-color-hover: #69c0ff;
    --slider-track-background-color: #91d5ff;
    --steps-background: #fff;
    --steps-nav-arrow-color: rgba(0, 0, 0, 0.25);
    --success-color-active: #389e0d;
    --success-color-deprecated-bg: #f6ffed;
    --success-color-deprecated-border: #b7eb8f;
    --success-color-hover: #73d13d;
    --success-color-outline: rgba(82, 196, 26, 0.2);
    --success-color: #52c41a;
    --switch-bg: #fff;
    --switch-color: #1890ff;
    --switch-shadow-color: rgba(0, 35, 11, 0.2);
    --table-bg: #fff;
    --table-body-selected-sort-bg: #e6f7ff;
    --table-body-sort-bg: #fafafa;
    --table-border-color: #f0f0f0;
    --table-expand-icon-bg: #fff;
    --table-expanded-row-bg: #fbfbfb;
    --table-filter-btns-bg: inherit;
    --table-filter-dropdown-bg: #fff;
    --table-fixed-header-sort-active-bg: #f5f5f5;
    --table-footer-bg: #fafafa;
    --table-footer-color: rgba(0, 0, 0, 0.85);
    --table-header-bg-sm: #fafafa;
    --table-header-bg: #fafafa;
    --table-header-cell-split-color: rgba(0, 0, 0, 0.06);
    --table-header-color: rgba(0, 0, 0, 0.85);
    --table-header-filter-active-bg: rgba(0, 0, 0, 0.04);
    --table-header-sort-active-bg: rgba(0, 0, 0, 0.04);
    --table-header-sort-bg: #f5f5f5;
    --table-row-hover-bg: #fafafa;
    --table-selected-row-bg: #e6f7ff;
    --table-selected-row-color: inherit;
    --table-selected-row-hover-bg: #dcf4ff;
    --table-sticky-scroll-bar-bg: rgba(0, 0, 0, 0.35);
    --tabs-active-color: #096dd9;
    --tabs-card-active-color: #1890ff;
    --tabs-card-head-background: #fafafa;
    --tabs-highlight-color: #1890ff;
    --tabs-hover-color: #40a9ff;
    --tabs-ink-bar-color: #1890ff;
    --tag-default-bg: #fafafa;
    --tag-default-color: rgba(0, 0, 0, 0.85);
    --text-color-dark: rgba(255, 255, 255, 0.85);
    --text-color-inverse: #fff;
    --text-color-secondary-dark: rgba(255, 255, 255, 0.65);
    --text-color-secondary: rgba(0, 0, 0, 0.45);
    --text-color: rgba(0, 0, 0, 0.85);
    --text-selection-bg: #1890ff;
    --timeline-color: #f0f0f0;
    --timeline-dot-bg: #fff;
    --timeline-dot-color: #1890ff;
    --tooltip-arrow-color: rgba(0, 0, 0, 0.75);
    --tooltip-bg: rgba(0, 0, 0, 0.75);
    --tooltip-color: #fff;
    --transfer-disabled-bg: #f5f5f5;
    --transfer-item-hover-bg: #f5f5f5;
    --transfer-item-selected-hover-bg: #dcf4ff;
    --tree-bg: #fff;
    --tree-directory-selected-bg: #1890ff;
    --tree-directory-selected-color: #fff;
    --tree-node-hover-bg: #f5f5f5;
    --tree-node-selected-bg: #bae7ff;
    --upload-actions-color: rgba(0, 0, 0, 0.45);
    --warning-color-active: #d48806;
    --warning-color-deprecated-bg: #fffbe6;
    --warning-color-deprecated-border: #ffe58f;
    --warning-color-hover: #ffc53d;
    --warning-color-outline: rgba(250, 173, 20, 0.2);
    --warning-color: #faad14;
    --white: #fff;
}
